    <script>
      setTimeout(function() {
          $('#loginModal').addClass("fade");
          $('#signupModal').addClass("fade");
        }, 1000);
    </script>
    <script>
      $(".dropdown-menu a").click(function(){
        $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
        $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      });
    </script>
    
  </body>
</html>