<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UniPlus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="/public/assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark navbar-custom">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="top: 50%;">
          <img src="../public/assets/images/uniplus.png" width="40" height="40" class="d-inline-block align-middle" alt="" style="-webkit-font-smoothing: antialiased;">
          <span class="navbar-customBrand">UniPlus</span>
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id = "navWrap">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="#">Question <span class="sr-only">(current)</span></a>
              <a class="nav-item nav-link" href="#">Tags</a>
              <a class="nav-item nav-link" href="#">Users</a>
              <a class="nav-item nav-link" href="#">Inbox</a>
            </div>

            <form class="searchForm">
              <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </form>
          </div>

          <ul class="nav navbar-nav navbar-right" id="loginul">
            <li><a class="nav-link" style="margin-right: 10px;" href="#">Login</a></li>
            <li><a class="nav-link" href="#">Sign Up</a></li>
          </ul>

        </div>
      </div>
    </nav>
