<% include ./partials/header.ejs %>
<div id="mainBody" class="container-fluid">
  <div class="row">
    <div class="col" id="leftCol" >
      <div id="menu">
        
      </div>
    </div>
    <div class="col-8" id="midCol">
      <div id="composeArea" style="padding: 20px;">
        <div>
          <h3>Ask A Question</h3>
          <br>
        </div>
        <div>
          <h6>Title</h6>
          <div id="titleEditor" style="border-radius: 5px;">
          </div>
          <br>
        </div>
        <div>
          <h6>Body</h6>
          <div id="editor" style="height: 500px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
          </div>
        </div>
        <div>
          <button type="submit" class="btn btn-primary" id="postBtn">
            Post Your Question
          </button>
        </div>
      </div>
    </div>
    <div class="col" id="rightCol">
      3 of 3
    </div>
  </div>
</div>

<script>
</script>

  <script>
    var toolbarOptions = [
      ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
      ['blockquote', 'code-block'],

      [{ 'header': 1 }, { 'header': 2 }],               // custom button values
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
      [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

      [{ 'align': [] }],

      ['image']
    ];

    var icons = Quill.import('ui/icons');
    icons['codeBlock'] = '<img src="../public/assets/images/codeBlock.png">';

    var quill = new Quill('#editor', {
      modules: {
        toolbar: toolbarOptions
      },
      theme: 'snow',
      placeholder: 'Compose your question...'
    });

    var quillTitle = new Quill('#titleEditor', {
      modules: {
        toolbar: null
      },
      theme: 'snow',
      placeholder: 'What\'s your question? Be specific...'
    });

    $('#postBtn').click(function(){
    var title = $('#titleEditor').text();
    var body = $('#editor .ql-editor').html();
    $.ajax({
      type: 'POST',
      url: '/postQuestion',
      data: {"title": title, "body": body},
      dataType: 'text',
      success: function(data) {
          window.location = data;
      },error: function (xhr, status, error) {
        console.log('Error: ' + error);
      }
    });
  });
  </script>

<% include ./partials/footer.ejs %>