<% include ./partials/header.ejs %>
  <div id="mainBody" class="container-fluid">
    <div class="row">
      <div class="col" id="leftCol" >
        <div id="askQuestion">
          <button type="button" class="btn btn-primary">Ask A Question</button>
        </div>
        <div id="menu">
          <button type="button" class="btn btn-primary">Ask A Question</button>
        </div>
      </div>
      <div class="col-8" id="midCol">
        <div id="header">
          <button type="button" class="btn btn-primary">Ask A Question</button>
        </div>
        <div id="tab">
          <button type="button" class="btn btn-primary">Ask A Question</button>
        </div>
      </div>
      <div class="col" id="rightCol">
        3 of 3
      </div>
    </div>
  </div>
<% include ./partials/footer.ejs %>