<% include ./partials/header.ejs %>
  <div id="mainBody" class="container-fluid">

    <% include ./partials/askErrorFlash.ejs %>

    <div class="row">
      <div class="col" id="leftCol" >
        <div id="askQuestion">
          <button type="button" class="btn btn-primary" id="askBtn" onclick="window.location.href='/ask'">
            ASK A QUESTION
          </button>
        </div>
        <div id="menu">
          
        </div>
      </div>
      <div class="col-7" id="midCol">
        <div id="header">
          <p style="display: inline-block; font-family:Open Sans; font-size: 25px; 
                    font-weight: 400; margin-left: 30px; padding-top: 15px; height: 50%; 
                    width: 200px;">
            All Questions
          </p>
          <div class="dropdown" style="display:inline-block; float:right; margin-right: 20px; margin-top: 14px;">
            <p style="display: inline-block;">Questions per page:</p>
            <div class="btn-group ">
              <button id="qppdrop" type="button" class="btn btn-primary dropdown-toggle btn-sm" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10
              </button>
              <div id="qppmenu" class="dropdown-menu">
                <a class="dropdown-item" href="#">10</a>
                <a class="dropdown-item" href="#">15</a>
                <a class="dropdown-item" href="#">20</a>
              </div>
            </div>
          </div>
        </div>
        <div id="tab">
          
        </div>

        <div id="questinos">
          <% questions.forEach((question, index)=>{ %>
            <% console.log(question.get('title')); %>
            <div style="border-bottom: 1px solid #e4e4e4; min-height: 50px; padding: 10px 20px;">
              <div style="width: 70%;">
                <p> <%= question.get('title'); %> </p>
              </div>
            </div>
          <% }); %>
        </div>
      </div>
      <div class="col" id="rightCol">
        3 of 3
      </div>
    </div>
  </div>
<% include ./partials/footer.ejs %>