packages:
  yum:
    krb5-devel: []

option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "7ylQv7jkyHd0KCh1pXYBLUIElX6aoeqVTaucbakK"
    MASTER_KEY: "IdMgi48kYB82MZrCl6JRLH97myovJxGyJ09bLuII"
    FILE_KEY: "42c04870-7631-4107-810f-ca4829fce9d"
    DATABASE_URI: "mongodb://gellert:5917738ljh@ds031975.mlab.com:31975/shutteradio"
    NODE_ENV: "production"
    SERVER_URL: "http://parseserver-9na46-env.us-east-1.elasticbeanstalk.com/parse"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"