@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,200);

.navbar-custom {
  background-color: rgb(42, 100, 166);
  border-color: #030033;
}

.navbar-brand {
  margin-right: 20px;
}

.navbar-customBrand {
  height: 100%;
  font-family:Open Sans;
  font-size: 27px; 
  font-weight: 300; 
  color: #ffffff;
  padding: 10px;
  margin:auto;
  vertical-align: middle;
}

.container-fluid {
  padding: 0 2%;
}

.searchForm {
  vertical-align: middle;
  margin-left: 40px;
  margin-right: 40px;
}

.btn.btn-outline-success {
  vertical-align: middle;
  display: inline !important;
}

.form-control {
  letter-spacing: 0.8px;
  vertical-align: middle;
  border: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  vertical-align: middle;
  width: 400px;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 15px;
  padding: 0.4rem 0.5rem;
}

.form-control-label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 17px;
}

.navbar-nav {
  float: left;
  margin-right: 20px;
}

#navWrap {
  display: inline;
  flex:1;
  min-width: 484px;
}

#loginul {
  min-width: 143px;
  float: left;
}

#mainBody {
  margin-top: 66px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

#leftCol {
  padding: 0px;
  margin: 0px;
  border-right: 1px solid #e4e4e4;
}

#midCol {
  height: auto;
  padding: 0px;
  border-right: 1px solid #e4e4e4;
}

#rightCol {
  padding: 0px;
}

#askQuestion {
  height: 100px;
  border-bottom: 1px solid #e4e4e4;
}

#menu {
  height: 200px;
  border-bottom: 1px solid #e4e4e4;
}

#header {
  height: 60px;
  border-bottom: 1px solid #e4e4e4;
}

#tab {
  height: 40px;
  border-bottom: 1px solid #e4e4e4;
}

#askBtn {
  margin-top: 15px;
  width: 80%;
  margin-left: 13%;
  margin-right: 10%;
  background-color: rgb(52, 152, 219);
  border-color: rgb(52, 152, 219);
  cursor: pointer;
}

#qppdrop {
  background-color: rgb(244, 245, 249);
  border-color: rgb(209, 213, 223);
  color: rgb(139, 151, 177);
  padding: .1rem .5rem;
}

#qppmenu {
  min-width: 50px;
  width: 50px !important;
}

.dropdown-item {
  text-align: center;
  padding-left: 10px;
  padding-right:10px;
  color: #868e96;
}

.ql-toolbar.ql-snow {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.questionStatsCircle {
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px; 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 20px; 
  border-style:solid; 
  border-color: rgb(217, 223, 232); 
  border-width: 1px;
}

.questionStatsCircleGreen {
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 40px; 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; 
  border-radius: 20px; 
  border-style:solid; 
  border-color: rgb(26, 188, 156); 
  border-width: 1px;
  background-color: rgb(26, 188, 156); 
}

.questionStats {
  font-family: Open Sans; 
  font-size: 13px; 
  font-weight: 200;
  text-align: center; 
  padding-top: 25%; 
  color: rgb(111, 126, 149);
}

.questionStatsGreen {
  font-family: Open Sans; 
  font-size: 13px; 
  font-weight: 200;
  text-align: center; 
  padding-top: 25%; 
  color: white;
}

.questionStatsArea {
  display: inline-block; 
  padding-left: 1%; 
  width: 30%; 
  transform: translate(0%,-50%);
  position: absolute; 
  top: 50%;
  cursor: pointer;
}

.questionStatsText {
  text-align:center; 
  margin-bottom:0; 
  margin-top: 10px;
  color: rgb(122, 135, 157);
  font-family: Open Sans;
  font-size: 12px; 
  font-weight: 400;
}

.profilePic {
  width: 25px; 
  height: 25px; 
  margin-right: 10px; 
  border-radius: 5px;
}

.questionWrapper {
  position: relative; 
  border-bottom: 1px solid #e4e4e4; 
  min-height: 50px; 
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.questionTitle {
  font-family: Open Sans; 
  font-size: 15px; 
  font-weight: 400;
  color: rgb(53, 111, 177);
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.sortList {
  padding-top: 5px;
  margin-right: 40px;
  display: inline-block;
  height: 100%;
  cursor: pointer;
}

.sortList a {
  height: 100%;
  font-family: Open Sans; 
  font-size: 14px; 
  font-weight: 600;
  color: rgb(53, 111, 177);
  text-decoration: none;
}

.sort-questions {
  height: 100%;
}

.activeli {
  border-bottom: 3px solid rgb(53, 111, 177);
}

.mouseOverli {
  border-bottom: 3px solid rgb(53, 111, 177);
}

.titleWrapper {
  border-bottom: 1px solid #e4e4e4;
  margin-left: 20px;
}

.voteArea {
  margin-top: 5px;
  display: inline-block;
  width: 5%;
  height: 150px;
}

.questionBody {
  overflow: hidden;
}

.bodyView {
  width: 95%;
  height: 100%;
  float: right;
}

.questionBody .ql-container {
  font-size: 15px;
}

.upTriangle {
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  width: 0;
  height: 0;
  border: solid 15px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(153, 168, 191);
}

.downTriangle {
  cursor: pointer;
  margin-left: auto;
  margin-right:auto;
  width: 0;
  height: 0;
  border: solid 15px;
  border-top-color: rgb(153, 168, 191);
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.voteNumber {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
  font-family: Open Sans; 
  font-size: 20px; 
  font-weight: 400;
  color: rgb(113, 128, 151);
}

.author {
  /*background-color: rgb(225, 236, 244); */
  width: 200px;
  float: right;
  padding-right: 20px;
  padding-bottom: 10px;
}

.timeStampQuestion {
  font-family: Open Sans; 
  font-size: 12px; 
  font-weight: 400;
  color: rgb(122, 135, 157);
  margin-bottom: 5px;
}

.authorName {
  margin-bottom: 0px; 
  font-family: Open Sans; 
  font-size: 14px; 
  font-weight: 400;
  color: rgb(53, 111, 177);
  cursor: pointer;
}

.reputation {
  margin-bottom: 0px; 
  font-family: Open Sans; 
  font-size: 14px; 
  font-weight: 600;
  color: rgb(102, 115, 137);
}

.tagArea {
  height: 25px;
  padding-left: 10px;
}

.tag {
  margin-right: 2px;
  height: 20px;
  display: inline-block;
  background-color: rgb(225, 236, 244);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(225, 236, 244);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.tagText {
  color: rgb(57, 115, 157);
  padding: 0px 10px;
  font-family: Open Sans; 
  font-size: 12px; 
  font-weight: 400;
}

.tag:hover {
  background-color: rgb(205, 224, 237);
  border-color: rgb(205, 224, 237);
}

.answerNumber {
  border-bottom: 1px solid #e4e4e4; 
  margin-left: 20px;
  font-family: Open Sans; 
  font-size: 15px; 
  font-weight: 400;
  margin-top: 20px;
}

.commentSection {
  margin-top: 10px;
  padding-left: 80px;
  padding-bottom: 10px;
}

.commentRow {
  border-bottom: 1px solid #e4e4e4; 
}

.commentBody {
  word-wrap: break-word;
  margin-bottom: 0px;
  font-family: Open Sans; 
  font-size: 13px; 
  font-weight: 400;
  padding-bottom: 5px;
  padding-top: 5px;
}